<button (click)="createNewProduct()">create</button>
<button (click)="changeSort('asc')">ASC</button>
<button (click)="changeSort('desc')">DESC</button>
<button (click)="onShowDetail('12312421')">Detalle not found</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <div class="product-detail" [class.active]="showProductDetail">
    {{ statusDetail }}
    <div *ngIf="productChosen">
      <button (click)="toggleProductDetail()">Close</button>
      <h1>{{ productChosen.title }}</h1>
      <img [src]="productChosen.image" alt="" class="image-customer" />
      <p>{{ productChosen.description }}</p>
      <button (click)="updateProduct()">Editar</button>
      <button (click)="deleteProduct()">Eliminar</button>
    </div>
  </div>
</div>
